<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetworkMeUp"
        tools:targetApi="31">
        <activity
            android:name=".view.UpdateJobApplications.ShowJobApplications.ShowApplicationDetails.ShowApplicationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.UpdateJobApplications.ShowJobApplications.ShowJobApplicationsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqWorkExperience.ChangeReqWorkExperienceDetails.ChangeReqWorkExperienceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqWorkExperience.AddNewReqWorkExperience.AddNewReqWorkExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqEducation.AddNewReqEducation.AddNewReqEducationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqEducation.ChangeReqEducation.ChangeReqEducationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqLangKnowledge.EditReqLangKnowledgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqWorkExperience.EditReqWorkExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.EditReqEducation.EditReqEducationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ChangeJobDetails.ChangeJobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ManageJobPositions.ManageJobPositionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.UpdateJobApplications.UpdateJobApplicationsActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditAccountEmployer.EditAccountEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.SearchJobs.ShowJobDetails.ShowJobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditEducation.AddNewEducation.AddNewEducationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditWorkExperience.AddNewWorkExperience.AddNewWorkExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditLanguageKnowledge.AddNewLanguageKnowledge.AddNewLanguageKnowledgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditLanguageKnowledge.ChangeLanguageKnowledgeDetails.ChangeLanguageKnowledgeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditWorkExperience.ChangeWorkExperienceDetails.ChangeWorkExperienceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditEducation.ChangeEducationDetails.ChangeEducationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditWorkExperience.ModifyCVEditWorkExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditLanguageKnowledge.ModifyCVEditLanguageKnowledgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVEditEducation.ModifyCVEditEducationActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditAccountEmployee.EditAccountEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".view.SearchJobs.SearchJobsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ModifyCV.ModifyCVActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeEmployer.HomeEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeEmployee.HomeEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.LoginEmployer.LoginEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.LoginEmployee.LoginEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUp.SignUpEmployer.SignUpEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUp.SignUpEmployee.SignUpEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.StartPage.StartPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>